.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
    padding: 0;
    border: 0;
}

.footertext {
    text-align: right;
    color: #8c8c8c;
    font-size: 0.75rem;
}
