img {
    height: 100%;
    width: auto;
    object-fit: contain;
    opacity: 1;
}

.playingGrid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
}

.tile {
    width: 50%;
    cursor: pointer;
    margin: auto;
    height: 5rem;
    width: 5rem;
    border: 0.1rem solid #8C8C8C;
    border-radius: 0.25rem;
    box-shadow: 0.2rem 0.2rem #8C8C8C;
    font-size: 1.3rem
}

.tile p {
    opacity: 0;
}

.tiletext {
    text-align: center;
    size: 50px;
    color: #FFFFFF;
}

.visible p {
    opacity: 1;
}
