img {
    height: 100%;
    width: auto;
    object-fit: contain;
    opacity: 1;
}

.playingGrid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.3rem;
    align-items: center;
}

.tile {
    width: 50%;
    cursor: pointer;
    border: red solid 2px;
    margin: auto;
    /* background-color: #4d4dff; */
}

.tiletext {
    font-family: "Yarndings 20", system-ui;
    text-align: center;
    size: 50px;
    color: #4d4dff;
}

.visible {
    opacity: 0;
}
